

.section-header{
    background: linear-gradient(180deg, #3E3E3E 0%, #070707 100%);
    // position: fixed;
}

.header-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .header-link{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

.navlink{
    color: white;
    font-size: 20px;
}